@model ProjectsAccounting.UI.Models.InvoiceViewModel
<button class="btn btn-info top-buffer" id="printInvoive">Print Invoice</button>
<fieldset class="fieldset-details top-buffer">
    <legend>Ivoice #@Model.InvoiceModel.InvoiceId</legend>
    <div id="invoice">
        <h1 align="center">INVOICE #@Model.InvoiceModel.InvoiceId</h1>
        <h3 align="center">Date @Model.InvoiceModel.InvoiceDate.ToShortDateString()</h3>
        <div class="row">
            <div class="col-sm-6">
                <label style="font-size: 25px; font-weight: bold">From</label>
                <div>
                    <label style="font-size: 14px">@Model.InvoiceModel.CompanyName</label>
                </div>
                <div>
                    <label style="font-size: 14px">Location: @Model.InvoiceModel.LocationAddress</label>
                </div>
                <div>
                    <label style="font-size: 14px">Email: @Model.InvoiceModel.Fax</label>
                </div>
                <div>
                    <label style="font-size: 14px">Phone: @Model.InvoiceModel.Phone</label>
                </div>
            </div>
            <div class="col-sm-6">
                <label style="font-size: 25px; font-weight: bold">To</label>
                <div>
                    <label style="font-size: 14px">@Model.InvoiceModel.CustomerName</label>
                </div>
                <div>
                    <label style="font-size: 14px">Location: @Model.InvoiceModel.CustomerAddress</label>
                </div>
                <div>
                    <label style="font-size: 14px">Email: @Model.InvoiceModel.CustomerEmail</label>
                </div>
                <div>
                    <label style="font-size: 14px">Phone: @Model.InvoiceModel.CustomerPhone</label>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>User</th>
                        <th class="text-right">Rate</th>
                        <th class="text-right">Hours</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.InvoicedUsers != null && Model.InvoicedUsers.Any())
                    {
                        foreach (var invoicedUsers in Model.InvoicedUsers)
                        {
                            <tr>
                                <td>@invoicedUsers.UserName</td>
                                <td class="text-right">@invoicedUsers.ExternalRate.ToString("0.00")</td>
                                <td class="text-right">@invoicedUsers.Hours.ToString("0.00")</td>
                                <td class="text-right">@invoicedUsers.Total.ToString("0.00")</td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-right" colspan="3">Sub-Total</th>
                        <th class="text-right">@Model.SubTotal.ToString("0.00")</th>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="3">Tax %</th>
                        <th class="text-right">@Model.InvoiceModel.TaxRate.ToString("0.00")</th>
                    </tr>
                    <tr>
                        <th class="text-right" colspan="3">Total</th>
                        <th class="text-right">@Model.Total.ToString("0.00")</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <label style="font-size: 14px; margin-top:10px">Comment: @Model.InvoiceModel.Notes</label>
        </div>
    </div>
</fieldset>