@model ProjectsAccounting.Common.Models.InvoiceModel
<button class="btn btn-info top-buffer" id="printInvoive">Print Invoice</button>
<fieldset class="fieldset-details top-buffer">
    <legend>Ivoice #@Model.InvoiceId</legend>
    <div id="invoice">
        <h1 align="center">INVOICE #@Model.InvoiceId</h1>
        <div class="row">
            <div class="col-sm-6">
                <label style="font-size: 25px; font-weight: bold">From</label>
                <div>
                    <label style="font-size: 14px">@Model.CompanyName</label>
                </div>
                <div>
                    <label style="font-size: 14px">Location: @Model.LocationAddress</label>
                </div>
                <div>
                    <label style="font-size: 14px">Email: @Model.Fax</label>
                </div>
                <div>
                    <label style="font-size: 14px">Phone: @Model.Phone</label>
                </div>
            </div>
            <div class="col-sm-6">
                <label style="font-size: 25px; font-weight: bold">To</label>
                <div>
                    <label style="font-size: 14px">@Model.CustomerName</label>
                </div>
                <div>
                    <label style="font-size: 14px">Location: @Model.CustomerAddress</label>
                </div>
                <div>
                    <label style="font-size: 14px">Email: @Model.CustomerEmail</label>
                </div>
                <div>
                    <label style="font-size: 14px">Phone: @Model.CustomerPhone</label>
                </div>
            </div>
        </div>
        <div>
            <label style="font-size: 14px; margin-top:10px">Comment: @Model.Notes</label>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Rate</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.InvoicedTasks != null && Model.InvoicedTasks.Any())
                    {
                        foreach (var task in Model.InvoicedTasks)
                        {
                            <tr>
                                <td>@task.TaskName</td>
                                <td>@task.UserExternalRate</td>
                                <td>@task.ReportedHours</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</fieldset>